
<footer class="fixed-bottom w-100 bg-dark">
  <div class="form-row justify-content-between">
    <div class="col"><a href="member-coin.html" class="btn-footer text-center"> 
        <div class="py-1"><i class="far fa-gem"></i>
          <div class="font-14">主钱包</div>
        </div></a></div>
    <div class="col"><a href="index.html" class="btn-footer text-center"> 
        <div class="py-1"><i class="fas fa-home"></i>
          <div class="font-14">首页</div>
        </div></a></div>
    <div class="col"><a href="accounting.html" class="btn-footer text-center"> 
        <div class="py-1"><i class="fas fa-history"></i>
          <div class="font-14">出入帐查询</div>
        </div></a></div>
  </div>
</footer>
