
<nav class="navbar navbar-expand-lg navbar-dark bg-dark font-14 fixed-top"><a href="index.html"><img src="images/logo.svg" style="width:160px;" alt="" class="img-fluid"/></a>
  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler border-0"><span class="navbar-toggler-icon"></span></button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <!--已登入時顯示-->
    <ul class="navbar-nav ml-auto">
      <li class="px-md-2"><a style="border-radius: 50rem;" href="member-coin.html" class="btn btn-primary px-4 font-14 text-light"> <i class="far fa-gem mr-1"></i>主钱包</a></li>
      <li class="px-md-2"><a href="login.html" class="nav-link text-light">登出</a></li>
    </ul>
  </div>
</nav>