
<div id="pills-tradeColor-red" role="tabpanel" aria-labelledby="pills-tradeColor-red-tab" class="tab-pane fade">
  <div class="table-responsive table-trade position-relative">
    <!-- 買入(紅色)-->
    <div class="trade-box table-trade">
      <div class="trade-box-hd">
        <div class="col px-1">
          <div class="font-14">價格</div>
        </div>
        <div class="col px-1">
          <div class="font-14 text-right">數量</div>
        </div>
        <div class="col px-1">
          <div class="font-14 text-right">總價</div>
        </div>
      </div>
      <div class="trade-box-bd">
        <div class="trade-buy-box">
          <!-- 買入-->
          <div class="trade-buy d-flex flex-column">
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">First</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
            <ul class="d-flex trade-box-list mb-0">
              <li class="col px-1 trade-box-listItem text-danger">314,331.0</li>
              <li class="col px-1 trade-box-listItem text-right">302,795.8</li>
              <li class="col px-1 trade-box-listItem text-right">0.00063</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 中間數值區塊-->
    <div class="trade-current-amount">
      <!--text-success =綠色字 ;text-danger =紅色字-->
      <div class="count trade-number text-danger"><span>557,263</span><i class="icon-arrow"></i></div>
    </div>
  </div>
</div>