
<!--Sidebar start-->
<div class="card mb-2 mb-md-3">
  <div class="card-body"><span>UID:</span><span>12345</span></div>
</div>
<div class="card userList mb-3">
  <div class="card-header">
    <div class="card-title">個人訊息</div>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item"><a href="user.html" class="nav-link">
         
        基本資料</a></li>
    <li class="nav-item"><a href="authentication.html" class="nav-link">
         
        身份認證</a></li>
  </ul>
  <div class="card-header border-top">
    <div class="card-title">安全裝置</div>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item"><a href="setpwd.html" class="nav-link">
         
        密碼設置</a></li>
    <li class="nav-item"><a href="binding.html" class="nav-link">
         
        手機信箱綁定</a></li>
  </ul>
  <div class="card-header border-top">
    <div class="card-title">活動</div>
  </div>
  <ul class="nav flex-column"> 
    <li class="nav-item"><a href="invite-home.html" class="nav-link">
         
        邀請返佣</a></li>
  </ul>
</div>