
<div class="card bg-trade h-100">
  <div class="card-header bg-trade px-2">
    <h6 class="mb-0 font-14">市場交易紀錄</h6>
  </div>
  <div class="card-body p-1">
    <div class="table-responsive table-trade">
      <table class="table table-sm table-hover table-dark bg-trade mb-0">
        <thead>
          <tr class="font-14">
            <td class="border-0 text-nowrap">時間</td>
            <td class="border-0 text-nowrap text-right">價格</td>
            <td class="border-0 text-nowrap text-right">數量</td>
          </tr>
        </thead>
        <tbody>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-danger">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-danger">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-danger">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
          <tr class="font-14">
            <td class="text-nowrap">12:58:40</td>
            <!--text-success =綠色字; .text-danger =紅色字-->
            <td class="text-nowrap text-right text-success">302,796.8</td>
            <td class="text-nowrap text-right">0.0063</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>